html{
    font-size: 62.5%;
}
body{
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-color: var(--violeta);
    background-size: cover;
    padding: 0 40px;
}

/* HEADER */
.header{
    height: 100px;
    display: flex;
    align-items: center;
}
.header img{
    width: 200px;
}

/*  PRINCIPAL / MAIN */
    .principal{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }