/* RESET */
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

/* Estilização do Frontend Mentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }